{{#partial "content"}}
    <section class="landing-pg">



    <div class="card" id="inputHero">

        <h3>CREATE A HERO </h3>
        <form class="form" action="/new/hero" method="post">

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Hero's name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Enter name of hero">
                </div>
            </div>

            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label">Hero's age</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="age" placeholder="Enter age of hero"
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Hero's power</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Enter the power of hero">
                    </div>
            </div>

            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label">Hero's weakness</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="age" placeholder="Enter the weakness of hero">
                </div>
            </div>

            <div>
                <button clas="btns" type="submit" href="/new/hero">Create</button>
            </div>

        </form>

    </div>
    </section>
{{/partial}}
 {{>layout.hbs}}