{{#partial "content"}}

    <div class="slide-container">

      <div class="wrapper">

      <div class="clash-card flash">
        <div class="clash-card_image clash-card_image--flash" >
            <img src="images/hero.jpeg" alt="flash">
        </div>
        <div class="clash-card_hero">
            <h3>HERO CREATED</h3>
            <P><strong>Hero 's name:</strong>FLASH</P>
            <P><strong>Hero 's age:</strong>43</P>
            <P><strong>Hero 's power:</strong>Speed</P>
            <P><strong>Hero 's weakness</strong>Children</P>

            <a href="hero/{{id}}" class="btns">Learn More</a>
            <a href="?squad" class="btns">Add{{name}}To Squad</a>
        </div>
       </div>

      </div>
    </div>

    {{/partial}}
{{>layout.hbs}}