{{#partial "content"}}

    <section id="content" class="jumbtron">
        <div id="left">
            <h1 class="title">HERO SQUAD</h1>
            <p>WE ARE GURDIAN OF OUR NATION</p>

        </div>

    </section>
{{/partial}}
{{>layout.hbs}}