{{# partial "content"}}
    <div class="success d-flex align-items-center justify-content-center text-centre">
    <div class="alert alert-success text-centre" role="alert">

        <h3>Success,<br><span>{{item}}</span>has been creates{{SquadId}}</h3>

        <a class="btns btn-green">CHECK HEROES</a>
        <a class="btns btn-green">CHECK SQUAD</a>
    </div>
    </div>


{{/partial}}
{{>layout.hbs}}